#chatbot-toggle {
    width: 56px;
    height: 56px;
    background: #0d6efd; /* blue = trust */
    border-radius: 50%;
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 24px rgba(0,0,0,0.35);
    cursor: pointer;
    z-index: 9999;
}

#chatbot-toggle::after {
    content: "Need Help?";
    position: absolute;
    right: 70px;
    background: #111;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    white-space: nowrap;
}


#chatbot-box {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background: #fff;
    border-radius: 8px;
    display: none;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    z-index: 1000;
}

.chatbot-header {
    background: #fcfcfc;
    color: #0b0a0a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbot-body {
    padding: 12px;
    font-size: 14px;
}

.bot-msg {
    background: #f1f1f1;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.bot-options button {
    margin: 4px 2px;
    padding: 6px 10px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#chatbot-response {
    margin-top: 10px;
}

#chatbot-toggle {
    background: #f9f9f9;
    box-shadow: 0 4px 14px rgba(0,0,0,0.3);
}

#chatbot-toggle img {
    width: 22px;
}

.bot-options button {
    background: #111;
    transition: 0.2s ease;
}

.bot-options button:hover {
    background: #0d6efd;
}