{% extends "base.html" %}

{% block title %}Enquiry Sent | Goodwill Gift House{% endblock %}

{% block content %}
<section class="text-center py-5">
    <h1>Thank You!</h1>

    <p class="mt-3">
        Your enquiry has been sent successfully.
        Our team will contact you soon.
    </p>

    <a href="{{ whatsapp_url }}" target="_blank" class="btn btn-success mt-4">
        Notify Us on WhatsApp
    </a>

    <br>

    <a href="{% url 'product_list' %}" class="btn btn-outline-dark mt-3">
        Continue Shopping
    </a>
</section>
{% endblock %}
